/*neutral*/
* {
	font-family: 'karla', sans-serif;
}.footer,
.header {
	background: linear-gradient(to bottom right, #ff3d3d, #ffc83c);
	color: white;
}@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
/*text*/
.heading {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}
@media (max-width: 900px) {
.heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.subheading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}
.paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}
.heading + .paragraph {
  margin-top: 30px;
}
.subheading + .paragraph {
  margin-top: 10px;
}
p.paragraph {
  color: rgba(0,0,0,.5);
}
.logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}
@media (max-width: 420px) {
  .logo {
    font-size: 22px;
  }
}
.nav-link2,
.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}
.nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: flex;
}
.spread {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.centervertical {
  flex-direction: column;
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
.vertical {
  flex-direction: column;
}
/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
	align: center;
}
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666667%;}
.col-12 {width: 100%;}

/*containers*/
.container-lrg,
.container-sml {
  margin: auto;
  width: 100%;
}
.container-lrg {
  max-width: 1080px;
}
.container-sml {
  max-width: 700px;
}
.ctas {
  margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
  position: relative;
}.cook .header {
	padding: 20px 0 90px 0;
	overflow: hidden;
}
.cook .heading {
	margin: 120px 0 0 0;
}
.cook .paragraph {
	margin: 130px 0 0 0;
}
.cook .centerdevices {
	margin: 90px 0 0 0;
}
@media (max-width: 900px) {
	.cook .flex {
		flex-direction: column;
	}
	.cook	.heading {
		margin-top: 60px;
	}
	.cook	.paragraph {
		margin-top: 30px;
	}
	.cook	.col-5,
	.cook	.col-7 {
		width: 100%;
	}
}.ctas-input {
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.ctas-button {
	display: inline-block;
	margin: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button {
		margin: 10px 0 0 0;
	}
}.socialproof {
	padding: 90px 0;
}
.testimonial-content {
	margin-top: 15px;
}
.testimonial {
	margin-top: 40px;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.1);
	min-height: 240px;
}
@media (max-width: 750px) {
  .socialproof .emoji {
    font-size: 40px;
  }
  .testimonial {
  	min-height: inherit;
  }
  .socialproof .flex {
  	flex-wrap: wrap;
  }
  .socialproof .col-4:nth-of-type(1) {
  	width: 100%;
  }
  .socialproof .col-4:not(:nth-of-type(1)) {
  	width: 50%;
  }
}
@media (max-width: 500px) {
	.socialproof .col-4:nth-of-type(1) {
		margin-bottom: 0;
	}
  .socialproof .col-4:not(:nth-of-type(1)) {
  	width: 100%;
  }
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.footer {
	padding: 90px 0 45px;
}
.footer .footer-nav {
	padding-top: 90px;
	flex-wrap: wrap;
}
.footer .nav-link {
	display: inline-block;
	margin: 0 10px;
}
@media(max-width: 700px) {
	.footer .footer-nav .col-3 {
		width: 50%;
	}
}
@media(max-width: 500px) {
	.footer .footer-nav .col-3 {
		width: 100%;
	}
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.feature2 {
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.feature2	.col-6:nth-of-type(2n - 1) {
	padding: 40px 90px 40px 20px;
	border-right: 1px solid rgba(0,0,0,.1)
}
.feature2	.col-6:nth-of-type(3n - 1) {
	padding: 40px 20px 40px 90px;
}
.feature2 .emoji {
	font-size: 55px;
	color: black
}
.feature2 .emoji:hover {
	color: #ff3d3d;
}
@media (max-width: 900px) {
	.feature2 .emoji {
    font-size: 40px;
  }

	.feature2	.col-6:nth-of-type(1) {
		padding: 45px 45px 45px 20px;
	}
	.feature2	.col-6:nth-of-type(2) {
		padding: 45px 20px 45px 45px;
	}
}
@media (max-width: 600px) {
	.feature2 {
		padding: 90px 0;
	}
	.feature2 .flex {
		flex-direction: column;
	}
	.feature2	.col-6:nth-of-type(1),
	.feature2	.col-6:nth-of-type(2) {
		padding: 0 20px;
		border: none;
		width: 100%;
	}
	.feature2	.col-6:nth-of-type(2) {
		margin-top: 30px;
	}
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 0px;
  background: #fff;
  width: 55%;
	min-height: 55%;
  position: relative;
  transition: all 5s ease-in-out;
	z-index:999;
}

.popup h2 {
  margin-top: 0;
  color: #633c84;
	padding: 4px;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 5px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #3b1f5d;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
}

@media screen and (max-width: 600px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* Float Shadow */
.hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hover:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hover:hover, .hover:focus, .hover:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hover:hover:before, .hover:focus:before, .hover:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

a.fb-message-blue {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #0084ff;
  border: 1px solid #0084ff;
  width: 127px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all ease .15s;
  -o-transition: all ease .15s;
  -moz-transition: all ease .15s;
  transition: all ease .15s;
}
a.fb-message-blue:hover {
  background-color: #2093ff;
  border: 1px solid #2093ff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  /* transform: scale(1.15); */ /* uncomment to add zoom effect */
}
a.fb-message-blue:focus {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
}

a.fb-message-blue i {
  background-image: url('https://i.imgur.com/hjwozo7.png');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 7px 9px;
  top: -1px;
  height: 18px;
  width: 17px;
  padding: 10px 7px;
  float: left;
}
